@import "../variables.scss";
@import "../navbar.scss";


// marquee img{
//     width: 49px;
//     height: 49px;
// }

/////////////////////CONTAINER///////////////////

.container-principal {
    width: $cienp;
    height: $cienp;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .section1 {
        width: 50em;
        height: 30em;
        display: flex;
        justify-content: center;
        align-items: center;

        .cont1 {
            width: $cienp;
            height: $cienp;
            display: flex;
            justify-content: center;
            align-items: center;

            .img1 {
                position: absolute;
                z-index: 2;
                width: 30%;

                img {
                    right: 0;
                    opacity: 1;
                    width: $imagen1ContainerWidth;
                    height: $imagen1ContainerHeigth;
                }
            }

            .img2 {
                width: $cienp;
                height: $cienp;
                left: 0;

                img {
                    width: $imagen2ContainerWidth;
                    height: $imagen2ContainerHeigth;
                }
            }
        }
    }

    .section2 {
        width: $cienp;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $colorFondoNav;
        padding: 1.5em;
        border-radius: 1em;

        .cont3 {
            display: flex;
            flex-direction: column;
            color: $verdePrincipal;

            a {
                margin-bottom: 1em;
                font-weight: bold;
            }

            p {
                width: $ochenta;
            }

            button {
                width: $quincep;
                background-color: $fondoBody;
                border: 0;
                display: inline-block;
                text-decoration: none;
                padding: .75rem 1.25rem;
                border-radius: 1em;
                color: $verdePrincipal;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: .15rem;
                transition: all .3s;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: $oncep;
                    height: $cienp;
                    background-color: $fondoBody;
                    border-radius: 1em;
                    z-index: -2;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: $ceropx;
                    left: $ceropx;
                    width: $cerop;
                    height: $cienp;
                    background-color: darken($fondoBody, 15%);
                    transition: all .3s;
                    border-radius: 1em;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        width: $cienp;
                    }
                }
            }

            .botonVerMas {
                color: $verdePrincipal;
                text-decoration: none;
            }

        }

    }

    .section3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: $cienp;
        height: $cienp;
        background-size: cover;
        @include animacion_contra;

        .Reciclar {
            @include secciones_inicio();

            &:hover {
                a {
                    @include ImagenGrande();
                }
            }

            a {
                @include textoVerde();
                @include animacion_contra;
            }
        }

        .Adaptar {
            @include secciones_inicio();

            &:hover {
                a {
                    @include ImagenGrande();
                }
            }

            a {
                @include textoVerde();
                @include animacion_contra;

            }
        }

        .MotorElectrico {
            @include secciones_inicio();

            &:hover {
                a {
                    @include ImagenGrande();
                }
            }

            a {
                @include textoVerde();
                @include animacion_contra;
            }
        }

        @each $a in $texto {
            $i: index($texto , $a );

            .img#{$i} a:after {
                content: "#{$a}";
            }
        }

        @each $b in $imagenes {
            $i: index($imagenes , $b );

            .img#{$i} {
                background-image: url($b);
            }

        }

    }

}

/////////////////////FIN CONTAINER///////////////////


/////////////////////FOOTER//////////////////////


hr {
    height: 5px !important;
    background-color: $colorFondoNav;
}

footer {
    text-align: center;
    font-size: 0.9rem;

    .footerContenedo {
        color: $negro !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;

        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            list-style: none;

            li a img {
                width: 50px;
                height: 50px;
            }

        }

        .footerNombre {
            color: $verdePrincipal !important;
            font-size: 2rem;
            font-weight: 500;
            display: inline-block;
            text-decoration: none;
        }

        .footerNombre:hover {
            color: $colorFondoNav;
        }

        .copyright {
            color: $verdePrincipal
        }

        .footerAviso {
            color: $negro !important;
            display: flex;
            justify-content: center;
            gap: 1rem;

            h3 {
                color: $verdePrincipal;
                text-decoration: none;
            }

            img {
                width: $imagenLogoPequenoWidth;
                height: $imagenLogoPequenoHeigth;
            }

        }

    }

}



/////////////////////FIN FOOTER///////////////////


