@import "../variables.scss";
@import "../navbar.scss";

$color-maquetacion-container: black;
$color-maquetacion-imagen:green;
$color-maquetacion-texto:white;
$color-maquetacion-contenido-texto: violet;



// marquee img{
//     width: 49px;
//     height: 49px;
// }

/////////////////////CONTAINER///////////////////
/// 

h1{
    margin: 2em;
    text-align: center;
}

.container {
    padding: 1em;
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    justify-content: center;
}

.noticia{
    padding: 0.7em;
    background-color: $colorFondoNav;
    border-radius: 1em;
    display: flex;
    width: 100%;
    height: 20em;
}

.noticia .imagen img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

.noticia .texto{
    color: $color-maquetacion-texto;
    padding: 1em;
    width: 70%;
    height: 100%;
}

.noticia .texto .titulo{
    width: 100%;
    height: 3em;
    font-size: 1.2em;
    font-weight: bold;
}

.noticia .texto .parrafo{
    height: 12em;
}

@media (max-width:1405px) {

    .noticia{
        height: auto;
        margin: 0.5em;
        display: grid;
    }

    .noticia .texto .titulo{
        height: auto;
        margin-bottom: 0.3em;
    }

    .noticia .texto{
        font-size: 1em;
        display: grid;
        width: 100%;
        height: auto;     
    }

    .noticia .texto .parrafo{
        height: auto;
    }
}

/////////////////////FIN CONTAINER///////////////////


/////////////////////FOOTER//////////////////////

footer {
    text-align: center;
    font-size: 0.9rem;
}

hr {
    height: 5px !important;
    background-color: white;
}

$margen-footer: 10em;

.footerContenedo {
    margin-top: $margen-footer;
    color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.footerNombre {
    color: black !important;
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
    color: white;
    text-decoration: none;
    color: white;
}

.footerNombre:hover {
    color: white;
}

.footerAviso {
    color: black !important;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul li a img {
    width: 50px;
    height: 50px;
}

.footerAviso h3 {
    color: black;
    text-decoration: none;
}

.footerAviso img {
    width: 100px;
    height: 100px;
}


.copyright {
    color: black
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;

}

/////////////////////FIN FOOTER///////////////////