@import "../variables.scss";
@import "../navbar.scss";

//////////CONTENEDOR/////////


#seccion {
    padding: 4px;
    @include funcion_flex();
    flex-direction: column;

    #quienesSomos {
        background: $negro;
        border-radius: 10px;
        color: $verdePrincipal;
        padding: $unop;
        width: $ochenta;
        margin: $auto;
        @include funcion_flex();
        flex-direction: column;
        margin-top: $unop;
        margin-bottom: $unop;

        #iniciosomos {
            @include funcion_flex();
            width: $cienp;

            #imagensomos {
                @include funcion_flex();
                justify-content: $centrar;
                width: $treintap;
                padding: $unop;

                img {
                    height: 250px;
                }
            }

            #titulosomos {
                @include funcion_flex();
                flex-direction: column;
                justify-content: space-between;
                margin-top: $unop;

                h1 {
                    text-align: $centrar;

                }

            }

        }

        #frasessomos {
            padding: $unop;

        }

    }


    #informacionTabla {
        padding: $unop;
        width: $ochenta;
        margin: $auto;
        @include funcion_flex();
        justify-content: space-between;
        margin-top: $unop;
        margin-bottom: $unop;

        //array recorrido
        @each $list in $coloresNosotros {
            $i: index($coloresNosotros, $list);

            .carta-#{$i} {
                width: $treintap;
                margin: $unop;
                padding: 4%;
                background-color: $list;
                border-radius: $cincuentap;
                @include funcion_flex();
                justify-content: stretch;
                flex-direction: column;

                h2{
                    text-align: $centrar;
                    font-weight: bold;

                }

                li{
                    margin-left: $diezp;
                    font-weight: bold;
                }

                p{
                    margin-left: $diezp;
                    font-weight: bold;
                }


            } 
        }



    }


}



@media (max-width: 1100px) {

    #seccion {

        #quienesSomos {

            #iniciosomos {
                flex-direction: column;

                #imagensomos {
                    width: $cienp;
                }
            }
        }


        #informacionTabla {
            flex-direction: column;

            .carta-1{
                width: $cienp;
                margin: $auto;
                margin-top: 5px;
            }
            
            .carta-2{
                width: $cienp;
                margin: $auto;
            }
            
            .carta-3{
                width: $cienp;
                margin: $auto;
            }
        }



    }
}


//////////FIN CONTENEDOR/////////

/////////////////////FOOTER//////////////////////


hr {
    height: 5px !important;
    background-color: $colorFondoNav;
}

footer {
    text-align: center;
    font-size: 0.9rem;

    .footerContenedo {
        color: $negro !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;

        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            list-style: none;

            li a img {
                width: 50px;
                height: 50px;
            }

        }

        .footerNombre {
            color: $verdePrincipal !important;
            font-size: 2rem;
            font-weight: 500;
            display: inline-block;
            text-decoration: none;
        }

        .footerNombre:hover {
            color: $colorFondoNav;
        }

        .copyright {
            color: $verdePrincipal
        }

        .footerAviso {
            color: $negro !important;
            display: flex;
            justify-content: center;
            gap: 1rem;

            h3 {
                color: $verdePrincipal;
                text-decoration: none;
            }

            img {
                width: $imagenLogoPequenoWidth;
                height: $imagenLogoPequenoHeigth;
            }

        }

    }

}



/////////////////////FIN FOOTER///////////////////